/* delayonHover */
#delayOnHover > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

#player .sub-option input {
  margin-left: 1em;
  vertical-align: sub; }

#player #volume .fa-volume-off {
  margin-left: 2.5em !important;
  color: #a5a5a5;
  font-size: 1.5em; }
  #player #volume .fa-volume-off.muted {
    color: #bd0000; }
  #player #volume .fa-volume-off:hover {
    cursor: pointer; }

#toolbar {
  margin: 1.7em 5em 0;
  padding: 0em 1.9em; }
  #toolbar .tools-container {
    height: 1em; }
    #toolbar .tools-container .tool {
      float: right;
      margin-left: 0.5em;
      font-size: 1em;
      opacity: 0.2; }
      #toolbar .tools-container .tool:hover {
        cursor: pointer;
        opacity: 0.5; }

#skipIntervals .sub-option input {
  margin-left: 1em;
  vertical-align: sub; }

#skipIntervals .button-wrapper {
  margin: 1em 0 1em; }

#skipIntervals #load-optimal-settings {
  width: 12em;
  text-align: center;
  margin-left: 1em;
  padding: 0.5em 0.5em;
  border-radius: 6px;
  background-color: #5763a5;
  color: #fff;
  cursor: pointer; }
  #skipIntervals #load-optimal-settings.notify-load {
    background-color: #279c37; }
