/* delayonHover */
#delayOnHover > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

#skipIntervals .sub-option input {
  margin-left: 1em;
  vertical-align: sub; }

#skipIntervals .button-wrapper {
  margin: 1em 0 1em; }

#skipIntervals #load-optimal-settings {
  width: 12em;
  text-align: center;
  margin-left: 1em;
  padding: 0.5em 0.5em;
  border-radius: 6px;
  background-color: #5763a5;
  color: #fff;
  cursor: pointer; }
  #skipIntervals #load-optimal-settings.notify-load {
    background-color: #279c37; }

#volume .sub-option .fa-volume-off {
  margin-left: 2.5em !important;
  color: #a5a5a5;
  font-size: 1.5em; }
  #volume .sub-option .fa-volume-off.muted {
    color: #bd0000; }
  #volume .sub-option .fa-volume-off:hover {
    cursor: pointer; }
