/* delayonHover */

#delayOnHover {
    > * {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}
#skipIntervals {
    .sub-option input {
        margin-left: 1em;
        vertical-align: sub;
    }
}