body { background-color: #fbf9f9; }

a {
    color: black;
    &:hover { color: black; }
    &:visited { color: black; }
}

nav {
    padding: 0.7em 2em;
    box-shadow: 0px 2px 20px -4px #9e6e6e;
    background-color: #2d2d2d;
    color: white;

    h3 {
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-block;

        .pageTitle {
            font-size: 1.5em;
            font-family: 'Open Sans', sans-serif;
            font-weight: 200;
        }

        &.right {
            float: right;

            .fa {
                font-size: 1.5em;
                color: #b7b7b7;

                &:hover {
                    color: #dad9d9;
                }
            }

            li {
                display: inline;
                margin-left: 0.5em;
            }
        }
    }
}

.pageTitle {
    text-align: center;
}

.option {
    margin: 0 5em 0;
    padding: 3em 2em;
    border-bottom: 1px solid #d8d8d8;
}

.sub-option > * {
    display: inline-block;
}

/* Save Button */
button#save {
    margin: 2em 5em;
    width: 8em;

    color: white;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;

    border-radius: 6px;
    border: none;

    box-shadow: none;
    text-shadow: none;

    background-color: #428bca;
    background-image: none;
}

button#save:hover {
    background-color: #447bab;
}