body {
  background-color: #fbf9f9; }

a {
  color: black; }
  a:hover {
    color: black; }
  a:visited {
    color: black; }

nav {
  padding: 0.7em 2em;
  box-shadow: 0px 2px 20px -4px #9e6e6e;
  background-color: #2d2d2d;
  color: white; }
  nav h3 {
    margin: 0; }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block; }
    nav ul .pageTitle {
      font-size: 1.5em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 200; }
    nav ul.right {
      float: right; }
      nav ul.right .fa {
        font-size: 1.5em;
        color: #b7b7b7; }
        nav ul.right .fa:hover {
          color: #dad9d9; }
      nav ul.right li {
        display: inline;
        margin-left: 1em; }

#content {
  width: 100%; }
  #content > * {
    float: left; }
  #content #insertSettings {
    width: 60%; }
    #content #insertSettings .option {
      cursor: pointer;
      margin: 2em 5em 0;
      padding: 1em 2em;
      background-color: #f5f5f5;
      border: solid 1px #dedede;
      border-radius: 0.7em; }
      #content #insertSettings .option:nth-of-type(2) {
        margin: 0.3em 5em 0; }
      #content #insertSettings .option h4 span.fa {
        float: right;
        position: relative;
        top: 0.5em;
        font-size: 0.5em; }
      #content #insertSettings .option .wrapper {
        display: none;
        cursor: auto;
        border: solid 1px #e7e7e7;
        border-radius: 0.7em; }
      #content #insertSettings .option .hideInput {
        display: none !important; }
      #content #insertSettings .option .enableSettings {
        opacity: 1; }
      #content #insertSettings .option .disableSettings {
        opacity: 0.2; }
      #content #insertSettings .option .sub-option {
        margin: 1em 0em 1em; }
        #content #insertSettings .option .sub-option > * {
          display: inline-block;
          margin-left: 1em;
          vertical-align: sub; }
        #content #insertSettings .option .sub-option input[type="text"]:not(.hideInput) {
          width: 3.2em;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          padding: 0 .5em;
          text-align: center; }
        #content #insertSettings .option .sub-option .sub-option-tooltips a.sub-option-tooltip {
          color: black;
          opacity: 0.3;
          margin-right: 1em; }
          #content #insertSettings .option .sub-option .sub-option-tooltips a.sub-option-tooltip:hover {
            cursor: pointer;
            opacity: 0.7; }
        #content #insertSettings .option .sub-option .sub-option-tooltips .tooltip[role="tooltip"].right .tooltip-arrow.question {
          border-right-color: #2959a5; }
        #content #insertSettings .option .sub-option .sub-option-tooltips .tooltip[role="tooltip"].right .tooltip-arrow.rule {
          border-right-color: #2959a5; }
        #content #insertSettings .option .sub-option .sub-option-tooltips .tooltip[role="tooltip"].right .tooltip-arrow.connection {
          border-right-color: #b33e3e; }
        #content #insertSettings .option .sub-option .sub-option-tooltips .tooltip[role="tooltip"] .tooltip-inner {
          color: white; }
          #content #insertSettings .option .sub-option .sub-option-tooltips .tooltip[role="tooltip"] .tooltip-inner.question {
            background-color: #2959a5; }
          #content #insertSettings .option .sub-option .sub-option-tooltips .tooltip[role="tooltip"] .tooltip-inner.rule {
            background-color: #2959a5; }
          #content #insertSettings .option .sub-option .sub-option-tooltips .tooltip[role="tooltip"] .tooltip-inner.connection {
            background-color: #b33e3e; }
        #content #insertSettings .option .sub-option .slider {
          width: 30%; }
          #content #insertSettings .option .sub-option .slider .ui-slider-handle {
            border-radius: 50%;
            background-color: #0082ce; }
          #content #insertSettings .option .sub-option .slider .ui-slider-handle:focus {
            outline: none; }
  #content #example {
    margin-top: 3em;
    width: 40%;
    text-align: center;
    /* Save Button */ }
    #content #example li {
      margin: auto;
      width: 22em;
      list-style-type: none; }
    #content #example button#save {
      margin: 2em 5em;
      width: 8em;
      color: white;
      font-size: 1em;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      border-radius: 2px;
      border: none;
      box-shadow: none;
      text-shadow: none;
      background-color: #3783ff;
      background-image: none; }
      #content #example button#save:hover {
        background-color: #357ae8; }
      #content #example button#save.saved {
        background-color: #27ae60; }

.hint {
  clear: both;
  margin: 35em 0 0;
  padding-top: 5em;
  text-align: center; }
  .hint .hint-wrapper {
    background-color: #484848;
    width: 35%;
    margin: 0 auto;
    padding: 0.4em;
    border-radius: 15px;
    color: white; }
    .hint .hint-wrapper .fa {
      font-size: 1.3em;
      color: #fffb00;
      vertical-align: middle; }
    .hint .hint-wrapper .hint-text {
      margin-left: 1em;
      font-size: 1em;
      font-weight: 300; }
