#toolbar {
    margin: 1.7em 5em 0;
    padding: 0em 1.9em;;

    .tools-container {
        height: 1em;

        .tool {
            float: right;
            margin-left: 0.5em;
            font-size: 1em;
            opacity: 0.2;
            cursor: pointer;

            &:not(.state):hover {
                opacity: 0.5;
            }

            &.active {
                opacity: 0.5;
            }
        }
    }

    .hideInput {
        display: none !important;
    }
}